[submodule "deps/odin-libktx"]
	path = deps/odin-libktx
	url = https://github.com/wrapperup/odin-libktx
[submodule "deps/physx-odin"]
	path = deps/physx-odin
	url = https://github.com/wrapperup/physx-odin
[submodule "deps/odin-vma"]
	path = deps/odin-vma
	url = https://github.com/wrapperup/odin-vma
[submodule "deps/odin-slang"]
	path = deps/odin-slang
	url = https://github.com/wrapperup/odin-slang
[submodule "deps/odin-mikktspace"]
	path = deps/odin-mikktspace
	url = https://github.com/wrapperup/odin-mikktspace
[submodule "deps/gltf2"]
	path = deps/gltf2
	url = https://github.com/wrapperup/glTF2
